body {
font-family: 'Chau Philomene One', sans-serif;
color: #2B3B7A;
background: #FAE1C5;
}

a {
color: #4FB69F;
text-decoration: none;	 
}

h1 {
font-size: 1.500em;
letter-spacing: -1.5px;
}

h2 {
font-size: 1.500em;
color: #9E202E; 
}

.btn {
color: #FAF3BC;
background: #C96969 url('img/texture.png') no-repeat right top;
padding: 15px 30px;
margin: 40px 0px;
border-radius: 25px; 
text-transform: uppercase; 	
}

.btn:hover {
  background-color: #CC7A7A;
  border-radius: 25px;
  padding: 17px 35px;
}

ul.nav {
	margin: 80px 0 0 0;
	list-style: none;
  float: left
}

ul.nav li {
 	float: left;
	margin-right: 40px;
  font-size: 1.750em;
}

ul.nav li a {
	  color: #2B3B7A;
}

#intro {
  margin: 2px 0 75px 0;
}

#greeting-photo {
	border: 7px solid #4F4F4F;
	margin-bottom: 40px;
}


#other-likes img {
	  border: 8px solid #4F4F4F;
	  margin: 0 0 20px 0;
}

#featured-like img {
	  border: 8px solid #4F4F4F;
}

#copyright {
	  border-top: 4px solid #4F4F4F;
	  padding: 10px 0;
    margin: 15px 0;
    text-align: center;
}